#navlist
{
    list-style: none;
    font-size:2rem ;
    display:flex;
    /* margin-left: 15px;
    margin-right: 15px; */
    align-items:center;
    justify-content: space-between;
    width:100%;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    width:100%;
    padding-right:2rem;
}
body{
    background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent); 
}
.container{
    height: 100vh;
    width:100vw;
    overflow-x: none;
}
.navcontainer
{
     width: 100vw;
     min-height: 80px;
     background: rgb(131,58,180);
     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, 
     rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
     display:flex;
     align-items:center;
     justify-content: center;
}
#navlogo
{
    font-size:2.8rem ;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
#item{
    display: flex;
    gap: 50px;
    margin-right: 30px;
}
.footerbox{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, 
    rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width:100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p{
    color:azure;
    font-size: 2rem; 
}
.contentbox{
    width:70%;
    margin:auto;
    /* border:1px solid black; */
    background-color: aliceblue;
    display:flex;
    /* one down one */
    flex-direction: column;
    gap:50px;
    box-shadow: 2px 3px 30px black;
}
.fitem{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox img{
    /* margin-top: 40px;
    margin-bottom:30px;
    margin-right:30px; */
    margin:40px 30px 30px 40px;
    height:350px;
   
    border-radius: 20px;
    width:350px;
    transition: all 0.6s linear 0s;
}
.rightbox img:hover{
    transform:scale(1.1);
}
.leftbox{
    display: flex;
    gap:20px;
    flex-direction: column;
}
.leftbox h2{
    font-size: 2rem;
    margin-top:20px;
    margin-left:50px
}
.leftbox ul,ol{
    margin-left:50px
}
.ingbox{
    font-size: 1.2rem;
}
.recipebox{
    font-size: 1.1rem;
}
.rightbox{
    position:relative;
}
